<h1>Movie Details</h1>


<p>Title: <%= @movie.title %> </p>

<p>Year: <%= @movie.year %> </p>

<p>Duration: <%= @movie.duration %> </p>

<p>Description: <%= @movie.description %> </p>

<img src="<%= @movie.image_url %>" width="720">

<p>
  <a href="/movies">Back</a>
  <a href="/movies/:id/edit">Edit</a>
  <a href="movies/:id/delete">Delete</a>
</p>
